:root {
  --darkBlue: #0881a3;
  --whiteBack: #fffdfb;
  --lightOrange: #fde9df;
  --darkOrange: #ffd6a4;
}

.App {
  display: flex;
  font-size: 18px;
  font-family: Lato;
  max-width: 900px;
  padding: 20px 20px;
  margin: 20px auto;
  background-color: #54bd94;
  border: solid 2px white;
  border-radius: 6px;
}
footer {
  font-size: 12px;
  color: white;
}
