.Forecast {
  justify-content: space-evenly;
  text-align: center;
}
.Forecast .ForecastDay {
  font-size: 18px;
  font-weight: 70px;
  margin-bottom: 5px;
}
.Forecast .ForecastMin {
  opacity: 0.6;
  margin-left: 10px;
}
