.Weather {
  color: white;
}
ul {
  list-style: none;
  font-weight: 400;
  color: white;
}
.input {
  border-radius: 4px;
  margin: 10px 40px 10px 0px;
  padding: 5px;
  border-color: white;
}
.Button {
  border-radius: 25px;
  padding: 5px 15px;
  border-color: white;
  background-color: white;
}

.Weather h1 {
  font-weight: 800;
}
