.Weather {
}

ul {
  list-style: none;
  font-weight: 400;
  color: white;
}
input {
  border-radius: 4px;
  margin: 10px 10px;
  padding: 10px;
}
button {
  border-radius: 25px;
  padding: 10px 10px;
  border-color: white;
  background-color: white;
}
input {
  border-color: white;
}
h1 {
  margin-bottom: 5px;
}
