.Weather {
  color: white;
}
ul {
  list-style: none;
  font-weight: 400;
  color: white;
}
.input {
  border-radius: 4px;
  margin: 10px 40px 10px 0px;
  padding: 5px;
  border-color: white;
}
.Button {
  border-radius: 25px;
  padding: 5px 15px;
  border-color: white;
  background-color: white;
}

.Weather h1 {
  font-weight: 800;
}
.Weather canvas {
  margin: 10px 10px 10px 30px;
  display: inline;
  height: 78px;
  width: 78px;
}
.Weather .Temp {
  display: inline;
  font-weight: bold;
  font-size: 64px;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
}
.Weather .Unit {
  position: relative;
  line-height: 1;
  top: -34px;
  font-size: 18px;
  cursor: pointer;
}
